body {
    font-family: Arial, sans-serif;

}

main {
    height: 100%;
    width: 100%;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
}

.logo {
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 300px;
    float: left;
    display: fixed;
    animation: coming 2s ease;
}


@keyframes coming {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.menu {
    float: left;
    padding-left: 220px;
}

.menu li {
    float: left;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    animation: topshift 0.2s ease forwards;
    opacity: 0;
}

.menu li a {
    color: #fff;
    transform: scale(1);
    display: inline-block;

}

.menu li a:visited {
    color: #fff;
}

.menu li a:hover {
    color: #fa9106;

}

.menu li a:active {
    transform: scale(1.1);
}

@keyframes topshift {
    from {
        opacity: 0;
        margin-top: -80px;
    }

    to {
        opacity: 1;
        margin-top: 0px;
    }
}

.menu li:nth-child(2) {
    animation-delay: 0.2s;
}

.menu li:nth-child(3) {
    animation-delay: 0.4s;
}

.menu li:nth-child(4) {
    animation-delay: 0.6s;
}

.menu li:nth-child(5) {
    animation-delay: 0.8s;
}

.menu li:nth-child(6) {
    animation-delay: 1s;
    margin-right: 0;
}

.main {
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 95% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container {
    float: left;
    margin: 310px 0px 0px 330px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    animation: titlemoved 0.5s ease forwards;
    animation-delay: 1s;
}




@keyframes titlemoved {
    from {
        opacity: 0;
        margin-left: -500px;
        
    }

    to {
        opacity: 1;
        margin-left: 330px;
    }
}


.title__container h1 {
    font-size: 50px;
    font-weight: bold;
}

.title__container h4 {
    margin-top: 40px;
    font-size: 22px;
    color: #aaaeb7;
}

.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 50px 14px 0px 14px;

}

.title__container input {
    transform: scale(1);
    cursor: pointer;

}

.title__container input:hover {
    background-color: #2c384a;
    color: #fff;
    transform: scale(1);
}

.title__container input:hover {
    transition: all .2s;
}

.title__container input:active {
    transform: scale(1.2);
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 600;
    margin: 60px 0px 30px 0px;
    color: #263244;
    width: 100%;
    padding-top: 86px;
}

.line {
    width: auto;
    margin: 20px auto 60px;
    display: block;
}

.icon {
    display: block;
    margin: 0 auto;
}

p {
    color: #626976;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}

/* Кнопка скачать резюме*/
.resume {
    height: 38px;
    border: 2px solid #6f707e;
    background: none;
    border-radius: 5px;
    color: #6f707e;
    font-size: 13px;
    margin: 50px 47%;
}

.item_skills {
    width: 100%;
    height: 510px;
    background: url(../img/computer.jpg) center/cover no-repeat;
    background-attachment: fixed;
}

.item_skills h2 {
    padding-top: 100px;
}

.icons {
    float: left;
    line-height: 10px;
    width: 300px;
    margin: 15px 0px 0px 75px;
    padding: 50px 15px 0px 15px;
}

.item_icons {
    display: block;
    margin: 0px auto;
    color: #313d4e;
}

.icons h4 {
    text-align: center;
    color: #cf7600;
    font-weight: 600;
    padding: 30px 0px 20px 0px;
}

.icons p {
    text-align: center;
    line-height: normal;
    color: #3f495a;
}

#cases {
    text-align: center;
    padding-top: 20px;
}

.screenshot {
    display: block;
    background-position: center;
    margin: 15px auto;
}

.left_part {
    text-align: left;
    float: left;
    margin: 30px 0px 100px 180px;
    line-height: normal;
}

.left_part h6 {
    text-transform: uppercase;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    color: #384354;

}

.left_part p {
    line-height: 15px;
    text-align: left;
    line-height: 30px;
    text-indent: inherit;
    margin: 0px 90px 40px 0px;
    color: #3f495a;
}

.right_part {
    text-align: left;
    margin: 45px 0px 100px 180px;
    line-height: normal;
}

.right_part h6 {
    font-weight: bold;
    line-height: 20px;
    font-size: 20px;
    color: #384354;

}

.right_part p {
    line-height: 15px;
    text-align: left;
    line-height: 22px;
    text-indent: inherit;
    margin: 0px 90px 40px 0px;
    color: #3f495a;
}

.calculation {
    background-color: #eeeeee;
    display: block;
    margin: 0px auto;
    width: 891px;
    height: 55px;
}

.main_calc h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #263244;
    width: 70%;
    margin: 190px 0px 40px 0px;

}

.main_calc h5 {
    text-align: left;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    color: #1c2534;
    width: 100%;
    padding: 40px 280px 15px 315px;
}

.main_calc h6 {
    font-size: 20px;
    font-weight: 600;
    color: #1c2534;
    width: 100%;
    padding: 40px 150px 100px 300px;
    word-spacing: normal;
    display: inline-block;
}

.none1 {
    font-size: 18px;
    font-weight: bold;
    margin: 60px 0px 22px 420px;
    float: left;
}

.none2 {
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin: 40px 0px 40px -56px;
}

.none3 {
    font-size: 18px;
    font-weight: bold;
    padding: 60px 0px 10px 78%;
}

.none4 {
    font-size: 18px;
    font-weight: bold;
    padding: 40px 0px 22px 78%;
}

.main_statistics {
    width: 100%;
    height: 60%;
    text-align: center;
    background: url(../img/statistics.png) center/cover no-repeat;
    padding-top: 100px;
}

.main_statistics h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #263244;
    width: 100%;
}

.smile {
    float: left;
    line-height: 30px;
    padding: 80px 0px 0px 100px;
    margin-left: 160px;
}

.staples {
    float: left;
    line-height: 30px;
    padding: 80px 0px 0px 100px;
    line-height: 40px;
}

.mark {
    float: left;
    line-height: 30px;
    padding: 80px 0px 0px 100px;
    line-height: 40px;
}

.cup {
    float: left;
    padding: 80px 0px 0px 100px;
    line-height: 10px;
}

.main_statistics h4 {
    font-size: 35px;
    font-weight: bolder;
    line-height: 80px;
}

.main_statistics h5 {
    font-size: 20px;
}

.comment {
    text-align: center;
    padding: 40px auto;
}

.img_portrait {
    display: block;
    margin: 60px 0px 40px 713px;
}

.comment p {
    text-align: center;
    color: #243042;
    padding-bottom: 20px;
    line-height: normal;
}

.comment h5 {
    padding-bottom: 150px;
}

.contacts {
    height: 850px;
    width: 100%;
    text-align: center;
    background: url(../img/lastbackground.png) center/cover no-repeat;
}

.contacts h2 {
    color: white;
    padding-top: 100px;
    text-align: center;
}

.contacts p {
    color: white;
}

.geo {
    color: white;
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    padding: 50px 100px 35px 0px;
}

.letter {
    color: white;
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    padding: 50px 100px 35px 0px;
}

.phone {
    color: white;
    display: inline-block;
    font-size: 16px;
    line-height: 35px;
    padding: 50px 0px 20px 0px;
}

.contacts h3 {
    display: block;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 40px 0px 20px 0px;
    float: none;
}

.info {
    background-color: #d3d6dc;
    display: block;
    width: 354px;
    height: 36px;
    float: left;
    margin-right: 25px;
    padding: 20px 10px;
}

.info1 {
    background-color: #d3d6dc;
    display: block;
    width: 354px;
    height: 36px;
    float: none;
    margin-right: 25px;
    padding: 20px 10px;
}

.form {
    margin-left: 392px;
}

textarea {
    background-color: #d3d6dc;
    display: block;
    margin: 20px auto;
    padding: 45px 293px;
}

.send {
    margin: 40px auto;
    display: block;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 5px;
}
